/* 给链接删除下划线 */
a {
    text-decoration: none;
}

/* 没有点击过的链接 */
a:link {
    color: #333;
}

/* 点击过的链接 */
a:visited {
    color: pink;
}

/* 放在链接上面 */
a:hover {
    color: skyblue;
}

/* 按下去没松开 */
a:active {
    color: greenyellow;
}

/* 图片宽度 */
.size {
    width: 43%;
}

/* div的设置 */
.dd1 {
    text-align: center;
    background: #E2696B;
}

#fff {
    width: 1366px;
    overflow: hidden;
    /* background-color: #158bb8; */
    margin: 0 auto;
}

#fff div {
    float: left;
    width: 159.5px;
    height: 159.5px;
    /* background-color: #baccd9; */
    margin-left: 10px;

}

#fff img {
    width: 159.5px;
    height: 159.5px;
    border-radius: 50%;
}