/* 格式化内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 给链接删除下划线 */
a {
    text-decoration: none;
}

/* 没有点击过的链接 */
a:link {
    color: #333;
}

/* 点击过的链接 */
a:visited {
    color: pink;
}

/* 放在链接上面 */
a:hover {
    color: skyblue;
}

/* 按下去没松开 */
a:active {
    color: greenyellow;
}

/* div的设置 */
.dd1 {
    width: 1366px;
    margin: 0 auto;
    background: #E2696B;
    border-radius: 15px;
    position: sticky;
    top: 5px;
}

.dd1 div {
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
}

/* 图片宽度 */
.dd1 .size {
    float: left;
    width: 44%;
    border-radius: 10%;
    margin: 5px 0% 5px 4%;
}

.dd2 {
    width: 1366px;
    background-color: #b0d5df;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.dd2 span {
    float: left;
    width: 30%;
    margin: 10px 0 10px 2.5%;
    background-color: #7a7374;
    border-radius: 10px;
}

#fff {
    width: 1366px;
    overflow: hidden;
    /* background-color: #158bb8; */
    margin: 0 auto;
}

#fff div {
    float: left;
    width: 159.5px;
    height: 159.5px;
    /* background-color: #baccd9; */
    margin-left: 10px;

}

#fff img {
    width: 159.5px;
    height: 159.5px;
    border-radius: 50%;
}

#kk {
    width: 6%;
    position: fixed;
    top: 80%;
    left: 90%;
}
