*{
    margin: 0;
    padding: 0;
}
#box1 {
    /* 宽高尺寸 */
    height: 200px;
    /* 背景颜色 地址 平铺 滚动 坐标 */
    background: cornflowerblue url(img/001.jpg) no-repeat scroll center;
}

#box1 .box1-1 a {
    display: inline-block;
    background-color: #00ffcc;
    color: #f98c10;
    width: 24%;
    height: 70px;
    text-align: center;
    tab-size: 14px;
    line-height: 14px;
    padding-top: 30px;
    
}

/* input {
    width: 50px;
} */

/* 点击表单时反应  */
/* input:focus {
    background-color: black;
} */

/* 行内元素，块元素转换 */
/* 转换为块元素display：block */
/* 转换为行内元素display：inline */
/* 转换为行内块元素display：inline-block */

#box2 {
    /* 宽高尺寸 */
    /* width: 200px; */
    height: 500px;
    /* 背景颜色 */
    /* background-color: #001FFF; */
    text-align: center;
}

.tu,
img {
    height: 230px;
    display: inline-block;
    padding: 5px 5px 5px;
    border: 1.5px pink solid;
    margin: 0px;
}

#box3 {
    /* 宽高尺寸 */
    height: 150px;
    /* 背景颜色 */
    /* background-color: #FF0004; */
    text-align: center;
}

ul {
    display: inline-block;
    width: 200px;
    text-align: center;
    list-style: none;
}

/* 给链接删除下划线 */
a {
    text-decoration: none;
}

/* 没有点击过的链接 */
#box3 a:link {
    color: pink;
}

/* 点击过的链接 */
#box3 a:visited {
    color: pink;
}

/* 放在链接上面 */
#box3 a:hover {
    color: skyblue;
}

/* 按下去没松开 */
#box3 a:active {
    color: greenyellow;
}

h {
    /* 字体颜色 */
    color: #000;
    /* 对齐 */
    text-align: center;
    /* 字体尺寸 */
    font-size: 20px;
    /* 行高 */
    line-height: 25px;
}