* {
    margin: 0;
    padding: 0;
}

.box1 {
    height: 100px;
    background-color: #8fb2c9;
}

.box1 ul {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    /* background-color: #322f3b; */
}

.box1 ul li {
    float: left;
    background-color: #c5708b;
    width: 100px;
    height: 50px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin: 25px 50px 0px;
    border-radius: 20px;
    font-size: large;
}

.box1 a {
    color: azure;
    text-decoration: none;
}

.box1 li:hover {
    background-color: #93b5cf;
}

/* 划分一下距离 */
.box2 {
    height: 500px;
    width: 1440px;
    background-color: #b2bbbe;
    margin: 0 auto;
}

.box2 .c1 {
    float: left;
    height: 500px;
    width: 500px;
    background-color: #1a94bc;
}

.box2 .c2 {
    float: left;
    height: 500px;
    width: 940px;
    background-color: #51c4d3;
}

.box2 .c1 li {
    float: left;
    width: 210px;
    height: 210px;
    background-color: #2c9678;
    list-style: none;
    margin: 20px;
    overflow: auto;
}

.box2 .c1 img {
    width: 190px;
    height: auto;
    border-radius: 10px;
}

.box2 .c2 li {
    float: left;
    list-style: none;
    width: 280px;
    height: 500px;
    margin-top: 20px;
    padding-left: 25px;
}

.box2 .c2 img {
    width: 280px;
    height: auto;
    border-radius: 10px;
}


.box3 {
    height: 70px;
    background-color: #b0d5df;
}

.box3 a {
    color: #bbb5ac;
    text-decoration: none;
}

.box3 .p1 {
    position: absolute;
    top: 620px;
    left: 50%;
    margin-left: -72px;
}